<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"View Rating" | translate}}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content padding class="animated fadeIn login auth-page background-image">

  <div class="auth-content" style="text-align: center;">
    <img class='center' src="{{profile_details?.photo}}" style="width: 42%;padding-left: 0px;padding-right: 0px;">
    <!-- <p>{{profile_details?.photo}}</p> -->
    <h4> {{"Name" | translate}}:{{profile_details?.name}}</h4>

  </div>

  <div *ngFor="let data of reviews_details" class="auth-content">

    <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#F8D03A"
      defaultColor="#D3D3D2" readonly="true" [rating]="data.rating" fontSize="32px">
    </ionic4-star-rating>
    <p> {{"Review" | translate}}:{{data.review}}</p>

  </div>
</ion-content>

<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
      <ion-row>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-home"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToHome()">{{ 'home' | translate}}</a></h4>
        </ion-col>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToDonor()">{{"Donor" | translate}}</a></h4>
        </ion-col>

        <ion-col size="3" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToReceiver()">{{"Receiver" | translate}}</a></h4>
        </ion-col>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contacts"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToRequest()">{{"Request" | translate}}</a></h4>
        </ion-col>

        <ion-col size="3" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              class="active" style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToAccount()">{{"My Account" | translate}}</a></h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>