<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button color="tertiary"></ion-menu-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" style="font-weight: bold;">
      {{"Forgot Password" | translate}}
    </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn fast bg-light background-image">
  <form [formGroup]="forgotPasswordForm" class="list-form">



    <ion-item no-padding class="animated fadeInUp">
      <!-- <ion-label position="floating">
        <ion-icon name="phone" item-start></ion-icon>
        {{"Phone" | translate}} 
      </ion-label> -->
      <ion-input placeholder="{{'Phone' | translate}}"
       color="#fff" type="text" formControlName="contact_no">
      </ion-input>
    </ion-item>
    <p ion-text class="text08" style="font-size: 14px;"
      *ngIf="forgotPasswordForm.get('contact_no').touched && forgotPasswordForm.get('contact_no').hasError('required')">
      <ion-text color="danger">
        {{"This field is required" | translate}}
      </ion-text>
    </p>

    <!-- <div class="btn btn-responsive">
    <ion-button  size="small" shape="round" expand="small" color="primary" (click)="resetpassword()"
      [disabled]="!forgotPasswordForm.valid" tappable>
      Reset Password
    </ion-button>
  </div> -->
  <div style="margin:30px 0px;text-align:center">
    <ion-button style="padding:0px !important;"
    class="btn btndefault btndefault1 btndefault1-mobile" for="file1" type="button"
    (click)="resetpassword()" [disabled]="!forgotPasswordForm.valid" tappable>{{"Reset Password" | translate}}</ion-button>
  </div>

    <!-- <div style="margin:30px 0px;text-align: center;">
      <button type="button" (click)="resetpassword()" [disabled]="!forgotPasswordForm.valid" tappable
        class="btn ion_btn">{{"Reset Password" | translate}}</button>

    </div>-->
  </form>

</ion-content>