<ion-header>
  <ion-toolbar color="primary">
     <!-- <ion-title>Get Location</ion-title>  -->
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" (click)="closeModal()" color="tertiary">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding class="animated fadeIn login   background-image">
 
 <h4> Terms & Conditions:-</h4>
 <ol><li> Please note that Towards Society is an app that connects donors and receivers and brings them on a common platform</li>
  
 <li>Towards Society does not take remuneration, joining fees, a percentage of money donated or help received and is totally free to use</li>
  
  <li>Any frauds arising out of using the app is the responsibility of the donor and the receiver personally as Towards Society is an app that just connects them to each other and Towards Society is not liable for any frauds</li>
  
  <li>All donors are expected to perform due diligence before engaging in any transaction with someone who is in need of help and Towards Society is not responsible for any frauds arising out of it</li>
  
  <li>All transactions done are purely personal and out of the app and offline. Even if online it is not through Towards Society and hence we should not be held responsible for the same. There is just a chat facility that Towards Society has that enables the two of them to chat with each other and exchange details, contacts</li>
  
  <li>Towards Society does not encourage cash requests and cash donations at all in fact, we strongly advise against it</li>
  
  <li>The app is free, there are no subscription fees and if someone is asking you, please stay away from them and do not hold Towards Society responsible for the same</li>
  
  <li>You agree to abide by all the terms and conditions set by Towards Society by pressing the accept terms and conditions button</li>
  
  <li>Towards Society reserves the right to ban users from using the app and is not answerable to anyone</li>
  
  <li>Towards society reserves the right to alter the terms and conditions from time to time</li>
  
<li>All disputes are subject to Mumbai Jurisdiction </li></ol>

</ion-content>