<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button color="tertiary"></ion-menu-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" style="font-weight: bold;">
      {{"Change Password" | translate}}
    </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn fast bg-light background-image">
  <form [formGroup]="changePasswordForm" class="list-form">

    <!-- <ion-card no-margin> -->

    <ion-item no-padding class="animated fadeInUp">
      <!-- <ion-label position="floating">
        <ion-icon name="lock" item-start></ion-icon>
        {{"Current Password" | translate}}
      </ion-label> -->
      <ion-input placeholder="{{'Current Password' | translate}}" color="#fff" type="password" formControlName="current_password">
      </ion-input>
    </ion-item>
    <p ion-text class="text08" style="font-size: 14px;"
      *ngIf="changePasswordForm.get('current_password').touched && changePasswordForm.get('current_password').hasError('required')">
      <ion-text color="danger">
        {{"This field is required" | translate}}
      </ion-text>
    </p>
    <!-- 
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          New Password
        </ion-label>
        <ion-input color="#fff" type="password" formControlName="new_password">
        </ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="changePasswordForm.get('new_password').touched && changePasswordForm.get('new_password').hasError('required')">
        <ion-text color="danger">
          This field is required
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
        Confirm  New Password
        </ion-label>
        <ion-input color="#fff" type="password" formControlName="confirm_newpassword">
        </ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="changePasswordForm.get('confirm_newpassword').touched && changePasswordForm.get('confirm_newpassword').hasError('required')">
        <ion-text color="danger">
          This field is required
        </ion-text>
      </p> -->
    <!-- </ion-card> -->

    <ion-item no-padding class="animated fadeInUp">
      <!-- <ion-label position="floating">
        <ion-icon name="lock" item-start></ion-icon>
        {{"New Password" | translate}}
      </ion-label> -->
      <ion-input placeholder="{{'New Password' | translate}}" color="#fff" type="password" formControlName="new_password"></ion-input>
    </ion-item>
    <p ion-text color="danger" class="text08" style="font-size: 14px;"
      *ngIf="changePasswordForm.get('new_password').touched && changePasswordForm.get('new_password').hasError('required')">
      <ion-text color="danger">
        {{"This field is required" | translate}}
      </ion-text>
    </p>
    <!-- <div class="error"  *ngIf="onRegisterForm.get('password').hasError('minlength') && onRegisterForm.get('password').touched">
        <ion-text style="color: red">Minimum of 4 characters</ion-text> 
      </div> -->

    <!-- //min 4 -->
    <div *ngIf="changePasswordForm.get('new_password').hasError('minlength')">
      <ion-text style="color: red">{{"Minimum of 4 characters" | translate}}</ion-text>
    </div>




    <ion-item no-padding class="animated fadeInUp">
      <!-- <ion-label position="floating">
        <ion-icon name="lock" item-start></ion-icon>
        {{"Confirm Password" | translate}}
      </ion-label> -->
      <ion-input placeholder="{{'Confirm Password' | translate}}" color="#fff" type="password" formControlName="confirm_newpassword"></ion-input>
    </ion-item>
    <span class="help-block"
      [ngClass]="{'has-error': (changePasswordForm.controls.confirm_newpassword.errors && changePasswordForm.controls.confirm_newpassword.dirty) || (changePasswordForm.errors?.matchingPasswords && changePasswordForm.controls.confirm_newpassword.dirty),
   'has-success': !changePasswordForm.controls.confirm_newpassword.errors && !changePasswordForm.errors?.matchingPasswords}">
      <span
        *ngIf="changePasswordForm.get('confirm_newpassword').errors && (changePasswordForm.get('confirm_newpassword').touched || changePasswordForm.get('confirm_newpassword').dirty)">
        <ion-text style="color: red">{{"password is required" | translate}}</ion-text>
      </span>
      <span
        *ngIf="changePasswordForm.errors?.matchingPasswords && changePasswordForm.controls.confirm_newpassword.dirty">
        <ion-text style="color: red">{{"password do not match" | translate}}</ion-text>
      </span>
    </span>




    <!-- 
<div class="btn btn-responsive">
    <ion-button class="btn" size="small" shape="round" expand="medium" color="primary" (click)="changepassword()"
      [disabled]="!changePasswordForm.valid" tappable>
      Submit
    </ion-button>
  </div> -->
  <div style="margin:30px 0px;text-align:center">
    <ion-button style="padding:0px !important;"
    class="btn btndefault btndefault1 btndefault1-mobile" for="file1" type="button"
    (click)="changepassword()" [disabled]="!changePasswordForm.valid" tappable>{{"SUBMIT" | translate}}</ion-button>
  </div>
    <!--  <div style="margin:30px 0px; text-align: center;">
      <button type="button" (click)="changepassword()" [disabled]="!changePasswordForm.valid" tappable
        class="btn ion_btn">{{"SUBMIT" | translate}}</button>

    </div>-->
  </form>

</ion-content>


<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
      <ion-row>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-home"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToHome()">{{ 'home' | translate}}</a></h4>
        </ion-col>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToDonor()">{{"Donor" | translate}}</a></h4>
        </ion-col>

        <ion-col size="3" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToReceiver()">{{"Receiver" | translate}}</a></h4>
        </ion-col>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contacts"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToRequest()">{{"Request" | translate}}</a></h4>
        </ion-col>

        <ion-col size="3" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              class="active" style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToAccount()">{{"My Account" | translate}}</a></h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>