:host {
  ion-content { 
    --background: none important;
     background-image: url('../../../assets/img/popup.jpg') !important;
     background-repeat: no-repeat !important;
     background-attachment: fixed !important;
   background-size: cover !important;
   }
   ion-icon{
     color:red;
     }
   .background-image {
     --background: url('../../../assets/img/popup.jpg') 0 0/100% 100% no-repeat !important;
   }
 
  .fadeInUp{
    border: 1px solid #621789

    ;
    border-radius: 20px;
    background-color: #621789

    ;
    padding-left: 10px;
    margin:5px;
  }
  .cross-ion{
    position: relative;
    top: -48px;
    right: -1px;
    width: 12%;
  }
  .searchitem{
    border: 1px solid #621789

    ;
    border-radius: 20px;
   
    padding-left: 10px;
    margin:10px;
  }
}
