:host {
  ion-content {
    --background: #fff;
  }
.background-image {
    --background: url('../../../assets/img/home.jpg') 0 0/100% 100% no-repeat ;
  }
  .fadeInUp{
    border: 1px solid #22B89B;
    border-radius: 20px;
    background-color: #22B89B;
    padding-left: 10px;
    margin:5px;
  }

  .searchitem{
    border: 1px solid #22B89B;
    border-radius: 20px;
   
    padding-left: 10px;
    margin:10px;
  }
  .active{
  color: #0B6723 !important;
}
}
