<ion-content padding class="animated fadeIn login auth-page background-image">
  <form [formGroup]="feedbackForm" class="list-form" style="margin-top: 40px;">
    <p style="font-weight: 600">{{"How satisfied are you with Donor?" | translate}}</p>

    <ionic4-star-rating activeIcon="ios-star"  defaultIcon="ios-star-outline" activeColor="#0B6723"
      defaultColor="#D3D3D2" readonly="false" fontSize="32px" (ratingChanged)="onChangeHandler($event)">
    </ionic4-star-rating>

    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <!-- <ion-icon name="lock" item-start></ion-icon> -->
        {{"Give your feedback" | translate}}
      </ion-label>
      <ion-textarea color="#fff" type="text" rows="3" cols="7" formControlName="msg"></ion-textarea>

    </ion-item>
    <p ion-text class="text08" style="font-size: 14px;" *ngIf="feedbackForm.get('msg').touched && feedbackForm.get('msg').hasError('required')">
      <ion-text color="danger">
        {{"This field is required" | translate}}
      </ion-text>
    </p>
    <p style="color:#fff;font-size: 12px;">{{"Please avoid cash request" | translate}}</p>
 
    <div style="margin:30px 0px;text-align:center">
      <ion-button style="padding:0px !important;"
      class="btn btndefault btndefault1 btndefault1-mobile" for="file1" type="button"
      (click)="add()" [disabled]="!feedbackForm.valid" tappable>{{"SUBMIT" | translate}}</ion-button>
    </div>
   
  </form>
  <ion-row *ngFor="let each_img of capturedSnapURL1; let i = index ">
    <img  [src]="each_img" alt="profile" style="height: 100px; width:150px"> 
    <br>
    <ion-button (click)="deletefromarray(i)">Delete</ion-button>
  </ion-row>  
   <div padding-horizontal text-center class="animated fadeInDown" style="margin-bottom:10px;">
    
          <ion-button style="padding:0px !important;"
          class="btn btndefault btndefault1 btndefault1-mobile" for="file1" type="button"
          (click)="selectImage()">{{'Upload Photo' | translate}}</ion-button><br>
          Note:Maximum 2 photos are allowed.
  </div> 

  <!-- <div padding-horizontal text-center class="animated fadeInDown" style="margin-bottom:10px;" >
    
    <ion-button style="padding:0px !important;" *ngIf="this.temp.length<2"
    class="btn btndefault btndefault1 btndefault1-mobile" for="file1" type="button"
    (click)="selectImage1()">fsgsgvdh</ion-button><br>
    {{ans}}
</div>  -->
</ion-content>

<ion-footer class="animated fadeIn">
  <ion-toolbar color="primary">
    <ion-grid no-padding>
      <ion-row>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-home"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToHome()">{{ 'home' | translate}}</a></h4>
        </ion-col>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
            class="active"  style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToDonor()">{{"Donor" | translate}}</a></h4>
        </ion-col>

        <ion-col size="3" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToReceiver()">{{"Receiver" | translate}}</a></h4>
        </ion-col>

        <ion-col size="2" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contacts"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToRequest()">{{"Request" | translate}}</a></h4>
        </ion-col>

        <ion-col size="3" no-padding>
          <p style="text-align: center;margin:5px !important;font-size: 20px;">
            <ion-icon slot="start" name="md-contact"></ion-icon>
          </p>
          <h4 style="text-align: center; margin:0px !important;font-size:15px !important;"><a
              style="color:#fff;text-decoration:none;cursor: pointer;" (click)="goToAccount()">{{"My Account" | translate}}</a></h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>